.btn-activo{
    background-color: violet;
  }
/* #plan_deshabiltados{
    background-color: red;
    color: white;
  }
  #plan_habiltados{
    background-color: rgb(1, 167, 1);
    color: white;
  } */